<h1>Nuevo Comic</h1>
<form method="post">
   @* <label>IdComic</label>
    <input type="number" name="IdComic" class="form-control" />*@

    <label>Nombre</label>
    <input type="text" name="Nombre" class="form-control" />

    <label>Imagen</label>
    <input type="text" name="Imagen" class="form-control" />

    <label>Descripcion</label>
    <input type="text" name="Descripcion" class="form-control" />
    <button class="btn btn-success">Crear</button>
</form>
